In [55]:
# 讀取紀錄各文章所有股票名的檔案
import pandas as pd
import numpy as np

df = pd.read_csv('stock_name.csv')
df

,Date,Website,Stock
0,2020-07-20,bussinessweekly,聯發科 台積電
1,2020-07-20,bussinessweekly,台積電
2,2020-07-20,bussinessweekly,穩懋
3,2020-07-15,bussinessweekly,恆大 台積電
4,2020-07-15,bussinessweekly,統一 世紀
...,...,...,...
423380,1998-11-19,businesstoday,國揚 中壽 冠德 國產 亞聚 華航 美亞 光罩 台泥 長榮 聯電 台塑 新巨 裕隆 世界先進...
423381,1998-11-19,businesstoday,國揚 廣宇 聯電 國產 仁新 云辰 大台北 宏和 東元 新巨 信義 嘉泥 正道
423382,1998-11-12,businesstoday,國揚 新保 新巨 國產
423383,1998-11-12,businesstoday,聯華
423384,1998-11-05,businesstoday,國揚 聚亨 新巨 國產

In [56]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer

# 計算詞頻
# 不記錄出現次數過少的股票
text_cv = CountVectorizer(min_df=0.005)

stocks = text_cv.fit_transform(df['Stock'])

In [57]:
tf_df = pd.DataFrame(stocks.toarray(), columns=text_cv.get_feature_names())
tf_df

,gisky,tpkky,三商,上揚,上銀,世紀,中信金,中光電,中和,中壽,...,長榮,長榮航,開發金,陽明,隆達,雙鴻,頎邦,高技,鴻海,鴻準
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423380,0,0,1,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,0
423381,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
423382,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
423383,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
423384,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [58]:
tf_df['Date'] = df['Date']
tf_df['Website'] = df['Website']

In [59]:
tf_df['Date'] = pd.to_datetime(tf_df['Date'], errors = 'coerce')

In [60]:
tf_df.to_csv('stock_trend_268cols.csv', index=False)

In [61]:
tf = tf_df.drop(columns=['Date','Website'])
tf

,gisky,tpkky,三商,上揚,上銀,世紀,中信金,中光電,中和,中壽,...,長榮,長榮航,開發金,陽明,隆達,雙鴻,頎邦,高技,鴻海,鴻準
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423380,0,0,1,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,0
423381,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
423382,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
423383,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
423384,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [62]:
#counts = pd.DataFrame({'Name':tf_df.sum().index,'Counts':tf_df.sum()})
counts = pd.DataFrame({'Counts':tf.sum()})
counts

       Counts
gisky    2781
tpkky    2252
三商       2623
上揚      24377
上銀       5979
...       ...
雙鴻       3751
頎邦       4083
高技       2248
鴻海      55473
鴻準       5691

[268 rows x 1 columns]

In [63]:
#pd.set_option('display.max_rows', 100)
counts.sort_values(by=['Counts'],ascending=False).head(50)

     Counts
台積電   75129
鴻海    55473
大立光   41684
聯發科   24689
上揚    24377
友達    23762
統一    23087
國泰金   22814
南亞    22753
聯合    21047
群創    21037
富邦金   20255
台塑    19292
中信金   19044
宏達電   18851
聯電    17841
中鋼    16203
可成    15702
兆豐金   15301
中華電   13516
國巨    13145
華新    12929
新光金   12736
全新    12524
第一金   12233
長榮    12189
和碩    11785
開發金   11695
元大金   11084
晶電    10362
玉山金   10278
華碩    10137
和大    10028
永豐金    9962
宏碁     9928
台新金    9459
旺宏     9392
緯創     9368
華通     9329
大成     9286
仁寶     9208
台灣大    8943
華邦電    8866
合一     8803
廣達     8774
大中     8697
華新科    8649
南亞科    8642
穩懋     8626
台達電    8538

In [64]:
df202007 = tf_df.loc[tf_df['Date']>=pd.to_datetime('2020-07-01'),:]

In [65]:
df202007.drop(columns=['Date','Website'],inplace=True)
df202007

C:\Users\Student\anaconda3\envs\NLP\lib\site-packages\pandas\core\frame.py:4164: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,gisky,tpkky,三商,上揚,上銀,世紀,中信金,中光電,中和,中壽,...,長榮,長榮航,開發金,陽明,隆達,雙鴻,頎邦,高技,鴻海,鴻準
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418366,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
418367,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
418368,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
418369,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
418370,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [80]:
counts = pd.DataFrame({'Counts':df202007.sum()})
counts.sort_values(by=['Counts'],ascending=False,inplace=True)
counts.head(20)

     Counts
台積電    1740
合一      792
聯發科     619
鴻海      530
大立光     457
中天      400
聯電      388
聯合      279
南亞      237
統一      218
友達      208
上揚      207
大同      196
緯創      187
群創      177
台達電     176
欣興      174
國巨      163
廣達      160
台塑      158

In [81]:
counts.to_csv('stock202007.csv')

In [67]:
df202006 = tf_df.loc[(tf_df['Date']>=pd.to_datetime('2020-06-01'))&(tf_df['Date']<pd.to_datetime('2020-07-01')),:]

In [68]:
df202006

,gisky,tpkky,三商,上揚,上銀,世紀,中信金,中光電,中和,中壽,...,開發金,陽明,隆達,雙鴻,頎邦,高技,鴻海,鴻準,Date,Website
15,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,2020-06-30,bussinessweekly
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2020-06-23,bussinessweekly
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2020-06-23,bussinessweekly
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2020-06-23,bussinessweekly
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2020-06-22,bussinessweekly
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418414,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2020-06-02,businesstoday
418415,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2020-06-01,businesstoday
418416,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2020-06-01,businesstoday
418417,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2020-06-01,businesstoday
418418,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2020-06-01,businesstoday

In [69]:
df202006.drop(columns=['Date','Website'],inplace=True)
df202006

C:\Users\Student\anaconda3\envs\NLP\lib\site-packages\pandas\core\frame.py:4164: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,gisky,tpkky,三商,上揚,上銀,世紀,中信金,中光電,中和,中壽,...,長榮,長榮航,開發金,陽明,隆達,雙鴻,頎邦,高技,鴻海,鴻準
15,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418414,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
418415,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
418416,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
418417,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
418418,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [70]:
counts = pd.DataFrame({'Counts':df202006.sum()})
counts.sort_values(by=['Counts'],ascending=False).head(30)

     Counts
台積電     866
鴻海      409
大立光     365
聯發科     356
合一      280
南亞      252
友達      204
統一      197
國巨      187
聯合      184
國泰金     181
群創      181
上揚      176
台塑      174
聯電      164
富邦金     155
中天      152
第一金     144
祥碩      142
中信金     138
玉晶光     135
中華電     127
基亞      126
欣興      124
廣達      118
台灣大     115
中鋼      112
信驊      111
巨大      111
台達電     107

In [73]:
df202005 = tf_df.loc[(tf_df['Date']>=pd.to_datetime('2020-05-01'))&(tf_df['Date']<pd.to_datetime('2020-06-01')),:]

In [74]:
df202005

,gisky,tpkky,三商,上揚,上銀,世紀,中信金,中光電,中和,中壽,...,開發金,陽明,隆達,雙鴻,頎邦,高技,鴻海,鴻準,Date,Website
41,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2020-05-29,bussinessweekly
42,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,2020-05-29,bussinessweekly
43,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2020-05-28,bussinessweekly
44,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2020-05-28,bussinessweekly
45,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2020-05-27,bussinessweekly
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418467,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2020-05-06,businesstoday
418468,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2020-05-04,businesstoday
418469,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2020-05-04,businesstoday
418470,0,0,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,2020-05-04,businesstoday
418471,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2020-05-03,businesstoday

In [75]:
df202005.drop(columns=['Date','Website'],inplace=True)
df202005

C:\Users\Student\anaconda3\envs\NLP\lib\site-packages\pandas\core\frame.py:4164: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,gisky,tpkky,三商,上揚,上銀,世紀,中信金,中光電,中和,中壽,...,長榮,長榮航,開發金,陽明,隆達,雙鴻,頎邦,高技,鴻海,鴻準
41,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
42,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
43,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
44,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418467,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
418468,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
418469,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
418470,0,0,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
418471,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [76]:
counts = pd.DataFrame({'Counts':df202005.sum()})
counts.sort_values(by=['Counts'],ascending=False).head(30)

     Counts
台積電     948
鴻海      468
大立光     308
聯發科     288
聯合      269
南亞      247
統一      229
台塑      209
上揚      173
合一      171
國巨      167
中信金     147
欣興      140
友達      136
華通      130
聯電      130
國泰金     129
旺宏      123
巨大      115
晶電      110
第一金     110
廣達      110
群創      109
國產      109
金像電     104
中華電     104
富邦金     104
兆豐金     104
新光金      98
長榮       96